<div id="<%= dom_id report %>">
  <p>
    <strong>Name:</strong>
    <%= report.name %>
  </p>

  <p>
    <strong>In:</strong>
    <%= report.in_id %>
  </p>

  <p>
    <strong>Num:</strong>
    <%= report.num %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= report.content %>
  </p>

</div>
